 .balloon-slider {
     display: flex;
     overflow: hidden;
     flex-direction: column;
     flex-wrap: wrap;
     position: relative
 }
 
 .balloon-slider>.slider-wrapper {
     transform: translateX(0);
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     width: 100%
 }
 
 .balloon-slider.sm-active-balloon>.slider-wrapper {
     animation: transition 40s linear infinite
 }
 
 .balloon-slider .balloon-item {
     display: block;
     transition: all .3s ease-in-out
 }
 
 .balloon-slider .balloon-item .balloon-image {
     -webkit-background-size: 70%;
     -moz-background-size: 70%;
     -o-background-size: 70%;
     background-size: 70%;
     background-position: center;
     background-repeat: no-repeat
 }
 
 @keyframes transition {
     from {
         transform: translateX(0)
     }
     to {
         transform: translateX(-100%)
     }
 }
 
 .balloon-slider .balloon-item div {
     transition: all 5.75s ease-in-out
 }
 
 .balloon-slider .balloon-item div div {
     background: #fff;
     border-radius: 50%;
     height: 180px;
     width: 180px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #222;
     box-shadow: 0 15px 35px rgba(0, 0, 0, .1), 0 3px 10px rgba(0, 0, 0, .07);
     position: relative;
     margin: auto;
     transition: all .3s ease-in-out;
     animation: bubbles-first 5s ease-in-out infinite;
 }
 
 #balloon_wrapper_1 .slider-wrapper {
     min-width: 50vw
 }
 
 #balloon_wrapper_2 .slider-wrapper {
     min-width: 100vw;
 }
 
 #balloon_wrapper_1.balloon-slider .balloon-item div div {
     height: 150px;
     width: 150px;
 }
 
 .balloon-slider .balloon-item:nth-child(2n) div div {
     animation: bubbles-second 5s ease-in-out infinite;
 }
 
 .balloon-slider .balloon-item:nth-child(3n+2) div div {
     animation: bubbles-third 5s ease-in-out infinite;
 }
 
 .balloon-slider .balloon-item:nth-child(6n+2) div div {
     animation: bubbles-fourth 5s ease-in-out infinite;
 }
 
 .balloon-slider .balloon-item:nth-child(3n+2) div {
     transform: translateX(-200px);
 }
 
 .balloon-slider .balloon-item:nth-child(3n+3) {
     top: 368px;
 }
 
 .balloon-slider .balloon-item:nth-child(3n+2) {
     top: 188px
 }
 
 .balloon-slider .balloon-item:nth-child(3n+1) {
     top: 8px
 }
 
 .balloon-slider .balloon-item:nth-child(2n+1) div {
     transform: scale(.8)
 }
 
 .balloon-slider .balloon-item:nth-child(4n+2) div,
 .balloon-slider .balloon-item:nth-child(4n+4) div {
     transform: scale(.9)
 }
 
 .balloon-slider .balloon-item:nth-child(7n) div {
     transform: scale(.9)
 }
 
 .balloon-slider .balloon-item:nth-child(7n+1) div {
     transform: scale(.9)
 }
 
 .balloon-slider .balloon-item:nth-child(8n+4) div {
     transform: scale(.9)
 }
 
 .balloon-slider .balloon-item:nth-child(10n) div {
     transform: scale(.9)
 }
 
 @keyframes bubbles-first {
     0%,
     100% {
         transform: translate(0, 0)
     }
     40% {
         transform: translate(5px, 8px)
     }
     80% {
         transform: translate(-5px, 4px)
     }
 }
 
 @keyframes bubbles-second {
     0%,
     100% {
         transform: translate(0, 0)
     }
     40% {
         transform: translate(-5px, -8px)
     }
     80% {
         transform: translate(5px, -4px)
     }
 }
 
 @keyframes bubbles-third {
     0%,
     100% {
         transform: translate(145px, 5px)
     }
     40% {
         transform: translate(150px, -4px)
     }
     80% {
         transform: translate(155px, -5px)
     }
 }
 
 @keyframes bubbles-fourth {
     0%,
     100% {
         transform: translate(150px, 2px)
     }
     40% {
         transform: translate(145px, -8px)
     }
     80% {
         transform: translate(155px, 3px)
     }
 }
 
 @media screen and (max-width: 475px) {
     body {
         margin: 0px;
     }
     #balloon_wrapper_1 {
         width: 375px !important;
     }
 }